<!-- <h1>{{titulo}}</h1>

<ul *ngFor="let item of clientes">
    <li>
        <p>{{item.nome}}</p>
        <p>{{item.cpf}}</p>
    </li>
</ul> -->
<!-- <a [routerLink]="['cadastrar']" class="cadastrar-cliente">cadastrar cliente</a> -->
<button type="button" (click)="handleCadastrarCliente()">cadastrar cliente</button>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">nome</th>
      <th scope="col">cpf</th>
      <th scope="col">telefone</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of clientes">
      <td>{{ item.nome }}</td>
      <td>{{ item.cpf }}</td>
      <td>{{ item.telefone }}</td>
      <td class="">
        <button type="button" (click)="openEdit(item)">editar</button>
        <button type="button">movimentações</button>
        <button type="button" (click)="openModalCadastrar(item)">cadastrar movimentação</button>
      </td>
    </tr>
  </tbody>
</table>


